*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
   
}
body{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
    background-color:   hsl(212, 45%, 89%);
    
}

#qr-box{
    min-width: 250px;
    max-width: 275px;
    height: 400px;
    display: flex;
    margin: auto;
    flex-direction: column;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    align-items: center;
    text-align: center;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 20px;
  

}

#qr-code{
    
    width: 90%;
    border-radius: 10px;
    margin: 10px;

}

h1{
color: hsl(218, 44%, 22%);
    padding: 10px;
    font-size: 15px;
    
    
}

p{

 font-size:15px;
 color: hsl(220, 15%, 55%);
 padding-left: 15px;
 padding-right: 15px;
 

}
@media (max-width:375px){

    #qr-box{
        min-width: 250px;
        max-width: 320px;
    
      
}
    
    #qr-code{
        
       max-width: 100%;
        
    }

}